body {
  box-sizing: border-box;
  background: #fff;
  color: #202124;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  list-style: none;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
  min-width: 181px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.navbar > li {
  margin-left: 17px;
  cursor: pointer;
}

.navbar > li:nth-child(-n + 2):hover {
  opacity: 85%;
  text-decoration: underline;
}

.icon-apps > img {
  margin-top: 2px;
  height: 24px;
  width: 24px;
  opacity: 55%;
}

.icon-apps > img:hover {
  opacity: 100%;
}

.icon-profile-picture > img {
  margin-top: 2px;
  border-radius: 50%;
}

/* Logo and searchbar */

.google-img {
  display: flex;
  justify-content: center;
  margin-top: 101px;
}

.searchbar {
  display: flex;
  max-width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  margin-top: 42px;
}

.searchbar-internal {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.magnifier {
  height: 15px;
  width: 15px;
  margin-top: 10px;
  opacity: 40%;
  padding-right: 13px;
}

input {
  border: none;
  flex: 0.95;
  font: 16px arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  padding-bottom: 5px;
}

.searchbar-internal > img:nth-child(3) {
  height: 24px;
  width: 24px;
  margin-top: 5px;
  margin-right: 6px;
  cursor: pointer;
  margin-left: auto;
}

@media screen and (max-width: 650px) {
  .searchbar {
    max-width: 85%;
  }
}
